# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
build-native/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec
!build.spec
!native/*.manifest

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini 
RapidClickerWin32.obj
